@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.landing-page__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  inset: 3rem 0 0;
  font-size: 14px;
}

.landing-page__commandPanel {
  display: flex;
  justify-content: flex-end;
  background-color: $layer-01;
}

.cds--loading-overlay {
  background-color: $layer-01;
}
