@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/colors";
@use "@carbon/motion";
@use "@carbon/type";

.quick-chat-button__PromptButton {
  &:active {
    border: 2px solid $border-subtle-01;
  }

  &:focus {
    border: 1px solid $border-subtle-01;
  }

  &:hover {
    // stylelint-disable-next-line carbon/theme-token-use, color-function-notation
    border: 1px solid rgba(255, 255, 255, 0%);
  }

  &:not(#increaseSpecificity) {
    color: $text-primary;
    text-decoration: none;
  }

  border-radius: 8px;
  border: 1px solid $border-subtle-01;
  height: 84px;
}
